@import "./vulf-sans/stylesheet.css";

body {
  background-color: #292929;
  color: #eeeeec;
  text-align: center;
  font-family: 'Vulf Sans Embedded';
}

#ripper {
  border: 1px solid #eeeeec;
  float: left;
  width: 50%;
}

#preview {
  /* width: 50%; */
}

.controls {
  display: inline-block;
}

#workspace {
  align-items: center;
  display: inline-block;
  /* width: 50%; */
}

#workspace .canvas-container {
  /* float: left; */
  /* padding-right: 20px; */
}